# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Pp]ublish/

# C++ Build results
/cpp/build/

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# User-specific
*.userprefs
*.DS_Store

# Build artifacts
*.exe
*.dll
*.pdb
*.nupkg
*.snk
*.prof
*.cache

# Log files
*.log
